.card-text{
    font-size: 12px;
}

.card-body {
    padding: 0rem 0rem;
    background-image: url('../../../../sandwich.jpeg');
    height: 18vh !important;
    border-radius: 10px;   
    /* filter: blur(1px);  */
}
.link{
    color: rgb(0 0 0);
    text-decoration: none;
}
.container{
    height: 100%;
    display: inline-block;
    margin: auto;
    overflow: hidden;
}
.card-text{
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.company-info{
    text-align: initial;
}
.table-info{
    font-size: 10px;
    color: gray;
}
.company-info{
    box-shadow: 0px 3px 2px #d8d8d9;
}
.welcome-text{
    margin-bottom: 0px;
    text-align: initial;
    font-size: 13px;
    margin-top: 15px;
    font-style: italic;
    color: #7e7e7e;
}
.company-logo{
    padding-right: 0px;
    padding-left: 5px;
}
.company-name{
    padding-left: 10px;
}
.img-fluid{
  margin-left: 8px;      
}
.seller-name{
    font-size: 13px;
    color: gray;
}