.rts___nav___btn___container{
    display: none !important;
}

.rts___tab___selected {
    background-color: #000000 !important;
}

.rts___tabs___container {
    margin: 3%;
}

.rts___btn{
    margin: 2%;
    font-size: 12px;
    padding: 4px 10px;
    border: 0px
}

.tabs{
    box-shadow: 0px 3px 2px #d8d8d9;
}

.menu-desc{
    margin-top: 2px;
    font-size: 10px;
    color: #a1a1a1d1;
    font-style: italic;
}
